# Laboratorio 5 - Pregunta 2
### Hecho por: Daniel Alonso, Alvaro García Cid, Enrique Ramos e Ignacio Regidor

##Resumen (POR HACER)

##Introducción al problema y pasos previos
A continuación se muestrán las librerías de Python utilizadas en esta práctica.
- Numpy: utilizada por el resto de liberías, permite la creación y el manejo de datos de forma rápida y eficiente, conteniendo estructuras de datos propias.
- Pandas: permite la creación y manejo de dataframes a partir de la base de datos empleada.
- Matplotlib.pyplot: se utilizará para graficar los distintos diagramas que permitan el estudio de los datos de forma visual.

In [ ]:
!pip install gsppy
from gsppy.gsp import GSP

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gsppy
  Downloading gsppy-1.1-py3-none-any.whl (5.7 kB)
Installing collected packages: gsppy
Successfully installed gsppy-1.1

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
random.seed(123)

In [ ]:
datosraw = pd.read_csv("splice.data", encoding='latin-1', sep=',', names = ['Clase', 'Donante', 'Secuencias'])
datosraw.head()
print(len(datosraw))

3190

In [ ]:
datos = datosraw.copy()
datos['Split'] = 0

#Eliminamos carácteres vacíos que hay antes de la secuencia de genes
for i in range(len(datos)):
  aux = ''
  for j in range(len(datos['Secuencias'][i])):
    if datos['Secuencias'][i][j] != ' ':
      aux = aux + datos['Secuencias'][i][j]
  datos['Secuencias'][i] = aux

#Hacemos partición aleatoria de los primeros n (entre 4 y 10) genes de Secuencias
for i in range(len(datos)):
  n = random.randint(4,10)
  aux = ''
  for j in range(n):
    aux = aux + datos['Secuencias'][i][j]
  datos['Split'][i] = aux

<ipython-input-8-71d312a197b1>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['Secuencias'][i] = aux
<ipython-input-8-71d312a197b1>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['Split'][i] = aux
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
datos.head()

,Clase,Donante,Secuencias,Split
0,EI,ATRINS-DONOR-521,CCAGCTGCATCACAGGAGGCCAGCGAGCAGGTCTGTTCCAAGGGCC...,CCAG
1,EI,ATRINS-DONOR-905,AGACCCGCCGGGAGGCGGAGGACCTGCAGGGTGAGCCCCACCGCCC...,AGACC
2,EI,BABAPOE-DONOR-30,GAGGTGAAGGACGTCCTTCCCCAGGAGCCGGTGAGAAGCGCAGTCG...,GAGGTGAAG
3,EI,BABAPOE-DONOR-867,GGGCTGCGTTGCTGGTCACATTCCTGGCAGGTATGGGGCGGGGCTT...,GGGCTGCG
4,EI,BABAPOE-DONOR-2817,GCTCAGCCCCCAGGTCACCCAGGAACTGACGTGAGTGTCCCCATCC...,GCTCAG

In [ ]:
clases = datos.Clase.unique()
print(clases)


donantes = datos.Donante.unique()
print(len(donantes))
print(len(datos['Donante']))

['EI' 'IE' 'N']
3178
3190

In [ ]:
#Comprobamos que la partición este bien hecha
comp = 0
for i in range(len(datos)):
  if len(datos['Split'][i]) >= 4 & len(datos['Split'][i]) <= 10:
    comp = comp + 1

if comp == len(datos):
  print("Todos tienen una longitud entre 4 y 10")
else:
  print("Hay algún error")

Todos tienen una longitud entre 4 y 10

In [ ]:
#Comprobamos si hay datos repetidos
datos.duplicated(subset=['Clase','Split']).any()

True

In [ ]:
datos.drop_duplicates(subset=['Clase','Split'], inplace=True)
len(datos)

2928